.navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    color: #fff;
    z-index: 1000;
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-item {
    display: inline;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
}

.navbar-link:hover {
    color: #00aaff;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
        margin-left: 50px;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 70px;
        left: 0;
        padding: 20px 0;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-item {
        margin: 10px 0;
    }

    .navbar-link {
        font-size: 1.5rem;
    }
}